<title>Movie Matcher</title>
<style>
    @import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
    body {
        text-align: center;
    }

    h1 {
        font-family: 'Amatic SC', cursive;
        font-weight: normal;
        color: green;
        font-size: 2.5em;
    }

    h2{
        font-family: 'sans-serif';
        font-weight: normal;
        color: blue;
        font-size: 1.5em;
    }

    h3{
        font-family: 'sans-serif';
        font-weight: normal;
        color: red;
        font-size: 1.0em;
    }

    p{
        font-family: 'sans-serif';
        font-weight: normal;
        color: purple;
        font-size: 1.0em;
    }

    .myButton {
	    background-color:#555555;
	    -moz-border-radius:28px;
	    -webkit-border-radius:28px;
	    border-radius:28px;
	    border:1px solid #18ab29;
	    display:inline-block;
	    cursor:pointer;
	    color:#ffffff;
	    font-family:Arial;
	    font-size:17px;
	    padding:16px 31px;
	    text-decoration:none;
	    text-shadow:0px 1px 0px #2f6627;
	    outline:none;
	}

	.myButton:active {
	    position:relative;
	    top:1px;
	}

	#watch {
	    display:none;
    }

</style>
{% block body %}
{% endblock %}